[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
psycopg2 = "==2.9.5"
redis = "==4.5.1"
celery = "==5.2.7"

[dev-packages]

[requires]
python_version = "3.10"
